* {
   margin: 0;
   padding: 0;
}
html {
  background-color: white;
}
body {
  margin: 0;
  width: 1440px;
  height: 798px;
  background-color: #E8EAEB;
}
div {
  background-color: white;
}
.box {
  margin: 2px 450px 100px 450px;
  width: 520px;
  height: 755px;
  border: 1px solid #C7C8C9;
}
.box2 {
  width: 420px;
  height: 695px;
  padding: 30px 50px 30px 50px;
  font-size: 17px;
}
ul {
  padding: 0px 35px;
  line-height: 30px;
}
h2 {
  margin: 30px 50px 20px;
  font-size: 23px;
}
p {
  padding: 0px 10px;
  margin-bottom: 5px;
}
a {
  padding: 10px;
}
.number {
  padding: 0px 10px 20px;
}
hr {
  margin: 20px 0px;
}
img {
  margin-bottom: 10px;
  padding: 0px 130px;
}
