* {
  font-family: 'Open sans', sans-serif;
}

body {
  width: 1366px;
  background-color: #f9f9f9;
}

.wrapper {
  width: 968px;
  margin: 0 auto;
  padding:0 50px;
  border: 1px solid #dbdbdb;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(231,231,231,1);
}

.header {
  padding: 50px 0 39px 0;
}

.menu {
  background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(72,71,71,1) 100%);
}

.menu:after {
  content: " ";
  display: block;
  clear: both;
}

.menu li {
   float: left;
   text-align: center;
}

.menu a {
  display: block;
  padding: 0 61px 1px 24px;
  color: white;
  text-decoration: none;
  line-height: 39px;
  font-size: 15px;
  text-shadow: #2c2c2c 1px 1px 1px;
}

.menu a:hover {
  background-color: #333;
  border-right: 1px solid #888;
  border-left: 1px solid #888;
}

.container {
  overflow: hidden;
  margin: 40px 0 60px 0;
}

.sidebar {
  float: left;
  width: 240px;
}

.sidebar-menu li {
  border-bottom: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}

.sidebar-menu li:first-child {
  border-top: 1px solid #c8c8c8;
}

.sidebar-menu a {
  display: block;
  padding-left: 22px;
  line-height: 39px;
  color: #656363;
  text-decoration: none;
  font-size: 13.333px;
}

.sidebar-menu a:hover {
  color: black;
  padding-left: 36px;
}

.content {
  float: right;
  width: 680px;
}

.content p {
  padding: 30px 20px 0 25px;
  line-height: 21px;
  letter-spacing: -0.1px;
  font-size: 13.333px;
  color: black;
}

.footer {
  padding-bottom: 55px;
}

.footer-menu {
  background-color: #e1e1e1;
  line-height: 40px;
  font-size: 13px;
}

.footer-menu:after {
  content: " ";
  display: block;
  clear: both;
}

.footer-menu li {
   float: left;
   text-align: center;
}

.footer-menu li:hover {
  text-decoration: underline;
}

.footer-menu li:last-child {
  float: right;
  padding-right: 25px;
}

.footer-menu a {
  display: block;
  padding: 0 61px 0 24px;
  color: black;
  text-decoration: none;
}
